<div class="o-row o-9-12@large u-center@large-xlarge o-2-left@xxlarge o-8-12@xlarge o-7-12@xxlarge u-left@xlarge">
  <nav class="c-tabs" aria-label="Flikar">
    <h2 class="u-visually-hidden">Primära flikar</h2>
    <ul class="c-tabs__items -primary"><li class="c-tabs__item -active"><a href="#" class="is-active">Visa<span class="u-visually-hidden">(aktiv flik)</span></a></li>
      <li class="c-tabs__item"><a href="#">Redigera</a></li>
      <li class="c-tabs__item"><a href="#">Radera</a></li>
    </ul>
  </nav>
</div>
