<div class="c-form__item">
  <label class="c-form__label" for="selectDropdown">A standard drop-down</label>
  <select class="c-form__select {{modifier_class}}" id="selectDropdown">
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
    <optgroup label="More options">
      <option>Option 4</option>
      <option>Option 5</option>
    </optgroup>
  </select>
</div>

<div class="c-form__item">
  <label class="c-form__label" for="selectMultiItem">A multi-item select field</label>
  <select class="c-form__select -multi {{modifier_class}}" id="selectMultiItem" multiple>
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
    <optgroup label="More options">
      <option>Option 4</option>
      <option>Option 5</option>
    </optgroup>
  </select>
</div>
