<div class="c-form__item">
  <label class="c-form__label {{modifier_class}}" for="labelInputText">A label for a text input <span class="c-form__required" aria-label="Required" title="Required">*</span></label>
  <input type="text" id="labelInputText" placeholder="Enter some text">
</div>

<div class="c-form__item">
  <label class="c-form__label -option{{modifier_class}}"><input type="checkbox" /> A label wrapped around a checkbox</label>
</div>
