<fieldset class="c-form__checkboxes">
  <legend><span class="c-form__label">Weekdays</span></legend>
    <ul class="c-list--naked">
      <li class="c-form__item -checkbox">
        <input class="c-form__checkbox" id="monday" type="checkbox" name="monday" value="monday" checked="">
        <label class="c-form__label -option" for="monday">Monday</label>
      </li>
      <li class="c-form__item -checkbox">
        <input class="c-form__checkbox" id="tuesday" type="checkbox" name="tuesday" value="tuesday">
        <label class="c-form__label -option" for="tuesday">Tuesday</label>
      </li>
      <li class="c-form__item -checkbox">
        <input class="c-form__checkbox" id="wednesday" type="checkbox" name="wednesday" value="wednesday">
        <label class="c-form__label -option" for="wednesday">Wednesday</label>
      </li>
      <li class="c-form__item -checkbox">
        <input class="c-form__checkbox" id="saturday" type="checkbox" disabled="">
        <label class="c-form__label -option" for="saturday">Saturday</label>
      </li>
    </ul>
</fieldset>
