<div class="c-form__item">
  <label class="c-form__label" for="inputText">Text</label>
  <input type="text" class="c-form__text {{modifier_class}}" id="inputText" placeholder="Enter some text">
</div>
