<fieldset class="c-form__radios">
  <legend><span class="c-form__label">Countries</span></legend>
    <ul class="c-form__list">
      <li class="c-form__item -radio">
        <input class="c-form__radio" id="norway" type="radio" name="country" value="norway" checked="">
        <label class="c-form__label -option" for="norway">Norway</label>
      </li>
      <li class="c-form__item -radio">
        <input class="c-form__radio" id="poland" type="radio" name="country" value="poland">
        <label class="c-form__label -option" for="poland">Poland</label>
      </li>
      <li class="c-form__item -radio">
        <input class="c-form__radio" id="sweden" name="country" type="radio" disabled="">
        <label class="c-form__label -option" for="sweden">Sweden</label>
      </li>
    </ul>
</fieldset>
