<div class="c-form__item">
  <label class="c-form__label" for="text">Username</label>
  <input type="text" class="c-form__text" id="text" aria-labelledby="text-description" />
  <small class="c-form__description" id="text-description">Pick a username.</small>
</div>
