<div class="c-form__item">
  <label class="c-form__label" for="text">Username</label>
  <input type="text" class="c-form__text -error" id="text" aria-describedby="text-error"/>
  <div class="c-form__error" id="text-error" role="alert">Helpful error message</div>
</div>
