<div class="c-form__item c-form__item--has-description">
  <label class="c-form__label" for="edit-submitted-abstract-upload">Abstract</label>
  <div id="edit-submitted-abstract-upload" class="c-form__file" data-text="Ingen fil vald">
    <input type="file" id="edit-submitted-abstract-upload" name="files[submitted_abstract]" size="22" class="c-form__text -file">
  </div>
  <small class="c-form__description" id="edit-submitted-abstract-upload-description">Filer måste vara mindre än <strong>2 MB</strong>.<br>Tillåtna filtyper: <strong>gif jpg jpeg png</strong>.</small>
</div>
