// Buttons
//
// In addition to the `<button>` and
// `<input type="submit|image|reset|button">` elements, the `.c-button` class and
// its variants can apply buttons styles to various elements (like an `<a>`
// link).
//
// :disabled  - Disabled
//
// Style guide: button
%button {
  @include transition;
  text-decoration: none;
  font-size: pxtoem(16);
  text-align: center;
  padding: 0.8em 1.5em 0.65em;
  border: 0;
  border-radius: pxtoem(5,16);
  font-weight: normal;
  cursor: pointer;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  margin-top: 1px; /* Make sure that border is visible everywhere. */
  margin-bottom: 1px; /* Make sure that border is visible everywhere. */

  &:hover {
    text-decoration: none;
  }

  &[disabled],
  &.pseudo-class-disabled {
    cursor: default;
    top: 0;
    box-shadow: none;
  }
}

// Button
//
// Primary buttons.
//
// .-white   - White
// .-blue    - Blue
//
// Markup: button.twig
//
// Style guide: button.primary
.c-button {
  @extend %button;
  font-weight: bold;
  border: solid 1px color('grey','light');
  background-color: color('white');
  color: color('grey', 'dark');
  box-shadow: 0 3px 0 0 color('grey','light');

  [class^="c-icon"] {
    stroke: color('grey', 'dark');
  }

  &:hover,
  &:focus {
    top: 1px;
    box-shadow: 0 2px 0 0 color('grey','light');
  }

  &:active {
    top: 2px;
    box-shadow: 0 1px 0 0 color('grey','light');
  }
}

// CTA button
//
// CTA buttons are for call to actions.
//
// Markup: button-cta.twig
//
// Style guide: button.cta
.c-button-cta {
  @extend %button;
  font-weight: bold;
  border: solid 1px color('blue');
  background-color: color('blue');
  color: color('white');
  box-shadow: 0 3px 0 0 darken(color('blue'), 10%);

  &:hover,
  &:focus {
    top: 1px;
    box-shadow: 0 2px 0 0 darken(color('blue'), 10%);
  }

  &:active {
    top: 2px;
    box-shadow: 0 1px 0 0 darken(color('blue'), 10%);
  }
}

.c-button-menu {
  @include transition;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  padding: 0.4em 0.5em;
  background: color('blue');
  border-radius: pxtoem(5);
}
