<div id="alert">
  <div class="o-row c-message -status" role="alert">
    Helpful message.
  </div>
  <div class="o-row c-message -warning" role="alert">
    Helpful message.
  </div>
  <div class="o-row c-message -error" role="alert">
    Helpful message.
  </div>
</div>
