// Colors
//
// All colors used on the website.
//
// Markup: color-kss-markup.twig
//
// Weight: -1
//
// Style guide: colors

/// Map of colors.
/// @see {function} color
/// @type Map
$colors: (
  'black': (
    base: #1b1b1b
  ),
  'white': (
    base: #fff
  ),
  'grey': (
    lighter: #f4f4f4,
    light: #d9d9d9,
    base: #a8a8a7,
    dark: #676767,
    darker: #333
  ),
  'blue': (
    base: #4484ce // Links
  ),
  'red': (
    base: #e00034
  ),
  'green': (
    base: #9dba64
  ),
  'yellow': (
    base: #f9cf00
  ),
  'purple': (
    base: #94618e // Visited links
  )
);
