<div class="c-white">
  <div class="o-wrapper">
    <div class="o-faux-row o-9-12@large u-center@large">

    <h2 class="c-heading-b -line"><svg class="c-icon-comment"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/themes/custom/client/images/svg.svg#icon--comment"></use></svg>
      {{ title }}</h2>
      <ol class="o-row c-comment-list">
        {% include 'comment.twig' %}
        {% include 'comment.twig' %}
        {% include 'comment.twig' %}
      </ol>
    </div>
  </div>
</div>
