<div class="c-white">
  <div class="o-wrapper">
    <div class="o-faux-row o-9-12@large">

    <h2 class="c-heading-b -line"><svg class="c-icon-comment"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/themes/custom/client/images/svg.svg#icon--comment"></use></svg>
      Senaste underskrifterna</h2>
      <ol class="o-row c-comment-list">
        <li class="c-comment" id="comment-2">
          <div class="c-comment__body">
            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Nulla quis lorem ut libero malesuada feugiat.</p>
          </div>
          <div class="c-comment__meta">
            <a href="#comment-2">Mikael Holmbom, <time class="comment-meta-item" datetime="2016-08-31T16:49+00:00">31 augusti 2016, 16:49</time></a>
          </div>
        </li>
        <li class="c-comment" id="comment-3">
          <div class="c-comment__body">
            <p>Curabitur aliquet quam id dui posuere blandit. Vivamus suscipit tortor eget felis porttitor volutpat. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae..</p>
          </div>
          <div class="c-comment__meta">
            <a href="#comment-3">Mikael Holmbom, <time class="comment-meta-item" datetime="2016-08-31T16:50+00:00">31 augusti 2016, 16:50</time></a>
          </div>
        </li>
        <li class="c-comment" id="comment-4">
          <div class="c-comment__body">
            <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec rutrum congue leo eget malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
            <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec sollicitudin molestie malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</p>
          </div>
          <div class="c-comment__meta">
            <a href="#comment-4">Mikael Holmbom, <time class="comment-meta-item" datetime="2016-08-31T17:57+00:00">31 augusti 2016, 17:57</time></a>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>
