// Logo
//
// No style guide reference
.c-logo {
  float: left;
  background-image: url('../logo.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;

  @include respond-to('large') {
    margin-top: 1.8em;
    margin-right: 2em;

    .maintenance-page & {
      padding-bottom: 1.8em;
    }
  }

  @include respond-to('xlarge') {
    margin-right: 5em;
    margin-right: 4em;
  }

  &__image {
    opacity: 0;
    width: pxtoem(92);
    height: pxtoem(38);

    @include respond-to('large') {
      width: pxtoem(173);
      height: pxtoem(72);
    }
  }
}
