// Navigation
//
// Navigation are all kinds of menus.
//
// Style guide: navigation

// Menus
//
// Reset for menus.
//
// Style guide: navigation
[class$="__menu"] {
  list-style: none;
  margin: 0;
  padding: 0;
}
