@font-face {
  font-family: 'veneerregular';
  src: url("../fonts/veneer-webfont.woff2") format("woff2"), url("../fonts/veneer-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueLTStd';
  src: url("../fonts/HelveticaNeueLTStdRoman.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStdRoman.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueLTStd';
  src: url("../fonts/HelveticaNeueLTStdBd.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStdBd.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

.kss-modifier__heading {
  width: 1px;
  height: 1px;
  position: absolute;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0; }

html {
  position: relative; }

.kss-sidebar {
  padding: 0.6em 1em;
  background: #fdfdfd;
  border-bottom: 2px solid #e9e9e9; }
  @media (min-width: 48em) {
    .kss-sidebar {
      position: fixed;
      width: 20%;
      height: 100%;
      overflow: auto;
      padding: 1.5em 0 0;
      border-right: 2px solid #e9e9e9;
      border-bottom: 0; } }

@media (min-width: 48em) {
  .kss-header {
    padding: 0 1.5em; } }

.kss-logo {
  max-height: 50px;
  margin: 0 auto; }

.kss-doc-title {
  font-size: 1.8em;
  line-height: 1.1;
  text-align: center; }

.kss-main {
  width: 100%;
  padding: 1em;
  margin: 0 auto; }
  @media (min-width: 48em) {
    .kss-main {
      width: 80%;
      margin-left: 20%;
      padding: 2em; } }

.kss-nav__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }
  @media (min-width: 48em) {
    .kss-nav__menu {
      border-bottom: 2px solid #e9e9e9;
      text-align: left; } }
  .kss-nav__menu-child {
    border-top: 2px solid #e9e9e9;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none; }
    @media (min-width: 48em) {
      .kss-nav__menu-child {
        display: block; } }
    .kss-nav__menu-child .kss-nav__menu-item .kss-nav__menu-link {
      padding-left: 1.8em;
      border-left: 6px solid #e9e9e9; }
  .kss-nav__menu-item {
    display: inline-block; }
    @media (min-width: 48em) {
      .kss-nav__menu-item {
        display: block;
        border-bottom: 2px solid #ebebeb; }
        .kss-nav__menu-item:last-child {
          border: 0; } }

.kss-nav__menu-link {
  transition: all 0.1s ease-in-out;
  display: inline-block;
  padding: 0.2em 0.25em;
  color: currentColor; }
  @media (min-width: 48em) {
    .kss-nav__menu-link {
      display: block;
      padding: 0.6em 1em; } }
  .kss-nav__menu-link:hover, .kss-nav__menu-link:focus, .kss-nav__menu-link:active, .kss-nav__menu-link.is-in-viewport {
    background: #e9e9e9;
    text-decoration: none; }
    .kss-nav__menu-link:hover .kss-nav__name, .kss-nav__menu-link:focus .kss-nav__name, .kss-nav__menu-link:active .kss-nav__name, .kss-nav__menu-link.is-in-viewport .kss-nav__name {
      text-decoration: underline; }
    .kss-nav__menu-link:hover .kss-nav__ref, .kss-nav__menu-link:focus .kss-nav__ref, .kss-nav__menu-link:active .kss-nav__ref, .kss-nav__menu-link.is-in-viewport .kss-nav__ref {
      text-decoration: none;
      opacity: 0.8; }

.kss-nav__ref {
  transition: all 0.1s ease-in-out;
  font-weight: bold;
  opacity: 0.2;
  margin-right: 0.3em; }

.kss-section {
  margin-bottom: 1.75em; }
  @media (min-width: 48em) {
    .kss-section {
      margin-bottom: 3.75em; } }

.kss-title__permalink:hover, .kss-title__permalink:focus, .kss-title__permalink:active {
  text-decoration: none; }
  .kss-title__permalink:hover .kss-title__permalink-hash, .kss-title__permalink:focus .kss-title__permalink-hash, .kss-title__permalink:active .kss-title__permalink-hash {
    opacity: 0.6; }

.kss-title__permalink-hash {
  transition: all 0.1s ease-in-out;
  opacity: 0;
  margin-left: 0.5em;
  text-decoration: none; }

.kss-title__ref {
  font-size: 0.4em;
  line-height: 1.6;
  font-weight: bold;
  display: block;
  opacity: 0.6;
  text-decoration: none; }

.kss-modifier__wrapper,
.kss-markup {
  border: 2px solid #e4e4e4; }

.kss-modifier {
  border-bottom: 1px solid #e9e9e9;
  padding: 2em;
  position: relative;
  overflow: hidden; }
  .kss-modifier:last-child {
    border-bottom: 0; }

.kss-modifier__name {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  border-left: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  padding: 0.5em; }

.kss-modifier__description {
  font-size: 0.9em;
  font-weight: bold;
  margin: -0.8em 0 1em; }

.kss-markup__button {
  margin-top: 0.8em;
  background-color: #e9e9e9;
  padding: 0.2em 0.5em;
  border: 0; }

.kss-source {
  margin: 1em 0;
  display: inline-block;
  padding: 0.2em 0.6em;
  font-size: 0.9em; }

.kss-colors {
  overflow: hidden;
  float: left;
  margin-right: 1.8em; }

.kss-color {
  float: left;
  margin-bottom: 1.8em; }

.kss-color__swatch {
  width: 10em;
  height: 7em; }

.kss-color__code {
  font-size: 1.8em;
  font-weight: bold; }

.kss-color__desc {
  margin: 0; }

.kss-wrapper {
  background: #ddd;
  min-height: 2em;
  text-align: center;
  padding: 0.2em 0; }

.kss-row {
  background: #999;
  min-height: 2em;
  text-align: center;
  padding: 0.2em 0; }

.kss-grid {
  background: #666;
  color: #fff;
  height: 2em;
  padding: 0.2em 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center; }

.c-body p:last-child {
  margin-bottom: 1.6em !important; }

/* Pretty printing styles. Used with prettify.js. */
.prettyprint {
  margin: 0; }

/* SPAN elements with the classes below are added by prettyprint. */
.pln {
  color: #000; }

/* plain text */
.str {
  color: #080; }

/* string content */
.kwd {
  color: #008; }

/* a keyword */
.com {
  color: #800; }

/* a comment */
.typ {
  color: #606; }

/* a type name */
.lit {
  color: #066; }

/* a literal value */
/* punctuation, lisp open bracket, lisp close bracket */
.pun, .opn, .clo {
  color: #660; }

.tag {
  color: #008; }

/* a markup tag name */
.atn {
  color: #606; }

/* a markup attribute name */
.atv {
  color: #080; }

/* a markup attribute value */
.dec, .var {
  color: #606; }

/* a declaration; a variable name */
.fun {
  color: red; }

/* a function name */
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #060; }
  .kwd {
    color: #006;
    font-weight: bold; }
  .com {
    color: #600;
    font-style: italic; }
  .typ {
    color: #404;
    font-weight: bold; }
  .lit {
    color: #044; }
  .pun, .opn, .clo {
    color: #440; }
  .tag {
    color: #006;
    font-weight: bold; }
  .atn {
    color: #404; }
  .atv {
    color: #060; } }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0;
  padding: 0 0 3px 0;
  list-style-type: none;
  /* Alternate shading for lines */ }
  ol.linenums li {
    min-height: 1.6em;
    line-height: 1.6;
    border-bottom: 1px solid #eee;
    padding: 0 10px;
    background: #fff; }
    ol.linenums li:first-child {
      padding-top: 3px; }
  ol.linenums li.L0,
  ol.linenums li.L2,
  ol.linenums li.L4,
  ol.linenums li.L6,
  ol.linenums li.L8 {
    background: #fcfcfc; }
