// Tabs
//
// Style guide: tabs

// Tabs
//
// Style for the c-tabs class
//
// Markup: tabs.twig
//
// Style guide: tabs.tabs
.c-tabs {
  border-bottom: 2px solid color('blue');
  margin-bottom: 1.6em;

  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline-block;
  }

  a {
    padding: 0.3em 1.5em;
    display: inline-block;
    font-size: pxtoem(18);
    background: color('grey', 'lighter');

    &.is-active {
      background-color: color('blue');
      color: color('white');
    }
  }
}
