// Pagination
//
// Markup: pagination.twig
//
// Style guide: pagination
.c-pager {
  text-align: center;

  @include respond-to('xsmall-large') {
    &__item {
      display: none;

      &.-previous,
      &.-next {
        display: inline-block;
      }
    }
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
    margin: 0 0.2em;
    padding-bottom: 0.2em;

    a {
      @include transition;
      border-radius: pxtoem(5,16);
      border: solid 1px color('grey','light');
      background-color: color('white');
      color: color('grey', 'dark');
      font-size: pxtoem(18);
      padding: 0.6em 1em;
      display: inline-block;
      position: relative;
      box-shadow: 0 3px 0 0 color('grey','light');

      // scss-lint:disable NestingDepth
      &:hover,
      &:focus {
        text-decoration: none;
        top: 1px;
        box-shadow: 0 2px 0 0 color('grey','light');
      }

      &:active {
        text-decoration: none;
        top: 2px;
        box-shadow: 0 1px 0 0 color('grey','light');
      }
      // scss-lint:enable NestingDepth
    }

    &.-active {
      // scss-lint:disable NestingDepth
      a {
        background: color('blue');
        border-color: color('blue');
        color: color('white');
        box-shadow: 0 3px 0 0 darken(color('blue'), 10%);

        a:hover,
        a:focus {
          box-shadow: 0 2px 0 0 darken(color('blue'), 10%);
        }

        a:active {
          box-shadow: 0 1px 0 0 darken(color('blue'), 10%);
        }
      }
      // scss-lint:enable NestingDepth
    }
  }
}
