// Pagination
//
// Markup: pagination.twig
//
// Style guide: pagination
.c-pagination {

  &__next {
    @extend %button;
    float: right;
    background-repeat: no-repeat;
    background-size: 1.25em 1.2em;
    background-position: right 0.7em center;
  }

  &__previous {
    @extend %button;
    float: left;
    background-repeat: no-repeat;
    background-size: 1.25em 1.2em;
    background-position: right 0.7em center;
  }
}
