<nav class="o-row c-pagination u-clearfix">
   <h2 class="u-visually-hidden">Post navigation</h2>
   <a href="#" class="c-pagination__previous">Older posts</a>
   <a href="#" class="c-pagination__next">Newer posts</a>
</nav>
