<div class="c-form__item {{modifier_class}}">
  <label class="c-form__label {{modifier_class}}" for="form-item-input">A label for a text input <span class="c-form__required" aria-label="Required" title="Required">*</span></label>
  <input class="c-form__text" type="text" id="form-item-input" value="Text value">
  <div class="c-form__description">
    Form item description.
  </div>
</div>
